---
- name: "create /etc/contrail/{{ toragent_name }}"
  file:
    path: /etc/contrail/{{ toragent_name }}
    state: directory
    recurse: yes

- name: "get /etc/contrail/{{ toragent_name }}.env stat"
  stat:
    path: "/etc/contrail/{{ toragent_name }}.env"
  register: st

- name: "delete /etc/contrail/{{ toragent_name }}.env if exists"
  file:
    path: "/etc/contrail/{{ toragent_name }}.env"
    state: absent
  when: st.stat.exists is defined and st.stat.exists

- name: "create /etc/contrail/{{ toragent_name }}.env"
  file:
    path: "/etc/contrail/{{ toragent_name }}.env"
    state: touch

- name: "populate cluster wide {{ toragent_name }}.env"
  lineinfile: dest=/etc/contrail/{{ toragent_name }}.env regexp='^{{ item.key }}=.*' line="{{ item.key }}={{ item.value }}" state=present
  with_dict: "{{ contrail_configuration }}"
  no_log: True

- name: "populate instance specific {{ toragent_name }}.env"
  lineinfile: dest=/etc/contrail/{{ toragent_name }}.env regexp='^{{ item.key }}=.*' line="{{ item.key }}={{ item.value }}" state=present
  with_dict: "{{ instances[instance_name].contrail_configuration }}"
  when: instances[instance_name].contrail_configuration is defined
  ignore_errors: yes
  no_log: True

- name: "populate pod specific {{ toragent_name }}.env"
  lineinfile: dest=/etc/contrail/{{ toragent_name }}.env regexp='^{{ item.key }}=.*' line="{{ item.key }}={{ item.value }}" state=present
  with_dict: "{{ toragent_data }}"
  ignore_errors: yes
  no_log: True

- name: create contrail {{ toragent_name }} compose file
  template:
    src: contrail-toragent.yaml.j2
    dest: "/etc/contrail/{{ toragent_name }}/docker-compose.yaml"

- name: "start contrail {{ toragent_name }}"
  docker_service:
    project_src: /etc/contrail/{{ toragent_name }}
  environment:
    DOCKER_CLIENT_TIMEOUT: '120'
    COMPOSE_HTTP_TIMEOUT: '120'
