---

- name: install dependencies for these playbooks
  pip:
    name: "{{ item }}"
    state: latest
  register: res
  retries: 5
  until: res | success
  with_items:
    - pywinrm
    - requests
    - requests-credssp
  become: yes
