---
- name: create /etc/contrail/rsyslogd
  file:
    path: /etc/contrail/rsyslogd
    state: directory
    recurse: yes

- name: update image
  shell: "docker pull {{ container_registry }}/{{ item }}:{{ contrail_version_tag }}"
  with_items:
    - contrail-external-rsyslogd
  when: contrail_configuration.UPDATE_IMAGES is undefined or contrail_configuration.UPDATE_IMAGES != false

- name: "create rsyslogd compose file"
  template:
    src: contrail-rsyslogd.yaml.j2
    dest: "/etc/contrail/rsyslogd/docker-compose.yaml"

- name: "start rsyslogd"
  docker_service:
    project_src: /etc/contrail/rsyslogd
