---
# run openstack-compute-init container with mounted volumes:
# /usr/bin:/opt/plugin/bin
# PYTHONPATH:/opt/plugin/site-packages

- name: create /etc/contrail/compute-legacy
  file:
    path: /etc/contrail/compute-legacy
    state: directory
    recurse: yes

- name: Getting PYTHONPATH
  shell: python2 -c "import sys; paths = [path for path in sys.path if 'packages' in path] ; print(paths[-1])"
  register: pythonpath

- name: "create contrail compute-legacy compose file"
  template:
    src: contrail-compute-legacy.yaml.j2
    dest: "/etc/contrail/compute-legacy/docker-compose.yaml"

- name: "start contrail compute-legacy"
  docker_service:
    project_src: /etc/contrail/compute-legacy
  environment:
    DOCKER_CLIENT_TIMEOUT: '120'
    COMPOSE_HTTP_TIMEOUT: '120'
