---
- name: find all directories
  find:
    path: /etc/contrail
    file_type: directory
  register: dir_out

- name: skip invalid dir which doesn't have compose file
  stat:
    path: "{{ item.path }}/docker-compose.yaml"
  register: rc
  with_items: "{{ dir_out.files }}"

- docker_service:
    project_src: "{{ item.item.path }}"
    state: absent
    remove_images: all
    remove_volumes: yes
  environment:
    DOCKER_CLIENT_TIMEOUT: '120'
    COMPOSE_HTTP_TIMEOUT: '120'
  with_items: "{{ rc.results }}"
  when: item.stat.exists == true
