---
- name: stop contrail config database
  docker_service:
    project_src: /etc/contrail/config_database
    state: absent
  environment:
    DOCKER_CLIENT_TIMEOUT: '120'
    COMPOSE_HTTP_TIMEOUT: '120'
